<ul class="list-group">
<h2 class="text-danger">Dersler</h2>

	<% @lessons.each do |lesson| %>
		<li class="list-group-item">
			<br/><%=link_to lesson.name ,lesson_documents_path(lesson) %>
			<%= lesson.week %>
			<% if admin_signed_in? %>
				<%= link_to " Sil", lesson_path(lesson), method: :delete, class: "label label-warning" %> <br>
			<% end %>
		</li>
	<% end %>
	<br/>
<% if admin_signed_in? %>
	<%= link_to " Ders Ekle", new_lesson_path, class: "label label-primary" %> <br>
<% end %>
</ul>